<%-include("partials/header")-%>
<h1>Home</h1>
<p><%=content%></p>
<% posts.forEach((post) => { %>
<div class="">
  <h1><%=post.title%></h1>
  <p>
    <% if(post.text.length > 100){ %>
    <% let textPreview = post.text.slice(0,100) + "..." %>
    <%=textPreview%>
    <a href="/posts/<%=post._id%>">Read more</a>
    <% }else{ %>
      <%=post.text%>
    <% } %>
  </p>
</div>
<% }); %>
<%-include("partials/footer")-%>
